#events.transitions-enabled
	- @events.each do |event|
		.box.panel.panel-default
			= link_to (image_tag event.image.url), event
			.panel-body
				%h2= link_to event.name, event
				Created by:
				= event.user.first_name 
				= event.user.last_name