<%= form_for (@event), :url => invite_events_users_path(@event), :method => :GET do |f| %>

	<div class = "field" >
		<%= f.label "Users" %><br />
		<%= collection_select(:users, :id, @all_users, :id, :email, {}, {:multiple => true} ) %>
	</div>

	<div class  = "actions" >
		<%= f.submit 'Invite'%>
	</div>
<% end %>


